@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Quicksand';
    transition: all 0.3s;
    user-select: none;
}
:root{
    --main:rgb(15, 179, 15);
    --secondary:rgb(20, 168, 15);
    --gradient:linear-gradient(-135deg,var(--main), var(--secondary));
    --shadow:0 0 10px rgba(0, 0, 0, 0.5);
    --decent:0.5rem;
    --round:5rem;
    --texthover:rgba(255, 255, 255, 0.8);
}
body{
    margin: 0;
    padding: 0;
}
.highlight{
    color: var(--secondary);
    font-weight: 600;
    cursor: pointer;
}
i,span{
    cursor: pointer;
}
#main{
    width: 100%;
    height: 100vh;
    background: url(https://cdn-icons-png.flaticon.com/512/3225/3225343.png);
    background-position: center;
    background-repeat: no-repeat;
   
}
